.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    width: 40em;
    background:linear-gradient(rgb(56, 36, 182),rgb(134, 42, 148));
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(249, 249, 249);
    font-size: 3em;
    font-weight: 650;
}

.underline{
    width: 6em;
    height: .2em;
    background:  rgb(253, 253, 253);
    border-radius: 9px;
}

.inputs{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 35em;
    height: 5em;
    background: rgb(248, 235, 235);
    border-radius: .5em;
}

.input img{
    margin: 0em 2em;
}

.input input{
    height: 50px;
    width:400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(3, 3, 0);
    font-size: 1.2em;
}

.login-redirect{
    padding-left: 62px;
    margin-top: 27px;
    color:rgb(251, 243, 243) ;
    font-size: 18px;
}

.login-redirect span{
    color: rgb(252, 252, 252);
    cursor: pointer;   
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: rgb(8, 158, 195);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
